rupture.mobile-cutoff = 900px

import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
import('helpers/fonts')
@import 'helpers/optimize'

@import '../blocks/**/*'

a
    color rgb(31, 95, 151)
    &:visited 
    &:hover
    &:visited:hover
        color rgb(31, 95, 151)        