.checkbox
	height 35px
	&__txt
		font-size 21px
		font-family "PTSans"
		color rgb(0, 0, 0)
		font-weight bold
		position relative
		top 2px
		line-height 31px
		display table-cell
	&__label
		background transparent
		background-repeat no-repeat
		background-position top left
		display inline-block
		width 27px
		display table-cell
		&_checked
			background-image url(/assets/checkbox_checked.png)
		&_unchecked
			background-image url(/assets/checkbox_unchecked.png)
	&__input
		display none