mixin myworks
    +b.myworkscontainer
        +b.task
            +b.mount_left
                +b.js_center
        +b.task
            +b.mount_center
                +b.canvas_center
        +b.task
            +b.mount_right
                +b.svg_center