mixin sampleJS
    +b.stageJS
        +b.areaJS
            +b.map
                +e('ul').mens
                    +e('li')
                    +e('li')
                    +e('li')
                    +e('li')
                    +e('li')
                    +e('li')
                    +e('li')
                    +e('li')
                    +e('li')
            +b.drag_red_wrapper
                +b.drag_red
            +b.drag_yellow_wrapper
                +b.drag_yellow