.land
    fill #CCCCCC
    fill-opacity 1
    stroke white
    stroke-opacity 1
    stroke-width 0.5
.land_hover
    fill #8db6cd
    fill-opacity 1
    stroke white
    stroke-opacity 1
    stroke-width 0.5
.land_click
    fill #1A4793
    fill-opacity 0.7
    stroke white
    stroke-opacity 1
    stroke-width 0.5
.stageSVG
    display none
    &_hide
        display none
    &_show
        display block
    .areaSVG
        position relative
        width 80%
        margin auto
        padding-y 40px